body {
    background-color: #fcfcf4;
    background-position: center;
    background-size: cover;
    color: #28465c;
    font-family: 'Ariel Narrow Bold', sans-serif;
    height: 100%;
    margin: 0;
}

nav a {
    color: #5bacb1;
}

nav a:hover {
    color: gray;
}

button {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
    color: black;
}

html {
    height: 100%;
}
